<h2>Selected parts of cookie</h2>
<ul class="addons-list">
    <li class="addons-item">Type: {{cookie.type}}  - {{ price-fix (find-price types cookie.type)}} PLN</li>
    {{#each cookie.addons}}
        <li class="addons-item">Addon: {{this}} - {{ price-fix (find-price @root.addons this)}} PLN <a href="/cookie-config/delete-addon/{{this}}" class="btn-addon"/></a></li>
    {{/each}}
</ul>
