<section class="container flex flex-wrap">
    <h1 class="main-title">Configure your cookie</h1>
    <div class="container-col">
        <h2>Select cookie base</h2>
        <div class="buttons">
            <ul class="buttons__list buttons__list--col">
                {{#each types}}
                    <li class="buttons__list-item"><div class="btn-box btn-box--brown-{{this.[0]}}"></div><a href="/cookie-config/select-type/{{this.[0]}}" class="btn btn-link">Select {{this.[0]}} for {{price-fix this.[1]}} PLN</a></li>
                {{/each}}
            </ul>
        </div>  
    </div>
    <div class="container-col flex flex-col">
        <h2 class="text-center">Cookie preview</h2>
        <div class="cookie-preview-wrapper">{{> cookie-preview}}</div>
    </div>
    <div class="container-col-100">
        <h2>Select your favorite addons</h2>
        <div class="buttons">
            <ul class="buttons__list">
                {{#each addons}}
                    <li class="buttons__list-item buttons__list-item--col"><div class="btn-box btn-box--{{this.[0]}}"></div><a href="/cookie-config/add-addon/{{this.[0]}}" class="btn btn-link">Add {{this.[0]}} for {{price-fix this.[1]}} PLN</a></li>
                {{/each}}
            </ul>
            {{> addons}}
        </div>
        <div class="summary">
            <h2>Total price</h2>
            <p>{{price-fix sumOrder}} PLN</p> 
        </div> 
    </div>
</section>